/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Posts and pages */

.sticky {
  display: block;
}

.hentry {
  margin: 0 0 $base__space-unit;
}

.updated:not(.published) {
  display: none;
}

.single .byline,
.group-blog .byline {
  display: inline;
}

.page-content,
.entry-content,
.entry-summary {
  margin: $base__space-unit 0 0;
}

.page-links {
  clear: both;
  margin: 0 0 $base__space-unit;
}

/* Asides */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
  display: none;
}

/* Comments */

.comment-content a {
  word-wrap: break-word;
}
.bypostauthor {
  display: block;
}

.site-content {
  padding-top: 0;
}

.banner {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../../images/home-hero.jpg) no-repeat;
  background-size: cover, cover;

  img {
    height: 260px;
    width: 260px;
    position: relative;
    left: 41%;
    top: 30%;
  }
}

.home {
  h2 {
    text-align: center;
    color: #2f1339;
    font-size: 2.4rem;
  }
}

.home-product-sections {
  display: flex;
  width: 92%;
  margin-left: 3%;
  justify-content: center;
  li {
    flex-direction: column;
    text-align: center;
    border: 1px solid #a1a1a1;
    padding: 10px;
    list-style: none;
    margin-left: -60px;
  }
  .taxonomy-img {
    width: 80px;
    height: 80px;
  }
  button {
    background: #248a83;
    border-radius: 0;
    border: 1px solid #248a83;
    padding: 12px;
    padding-left: 14%;
    padding-right: 14%;
    a {
      text-decoration: none;
      color: #fff;
      font-size: 1.3em;
      text-transform: uppercase;
    }
  }

  button:hover {
    background: #1c706b;
    border: 1px solid #1c706b;
  }
}

.product-categories {
  display: flex;
  text-align: center;

  ul {
    li {
      list-style: none;
    }
  }
}

.hero-image-header {
  height: 100vh;
}

.home-blog-posts {
  margin-left: 10%;
  margin-right: 20%;

  h2 {
    text-align: center;
    font-size: 2.4rem;
    color: #2f1339;
  }

  h3 {
    color: #248a83;
    flex-wrap: wrap;
    padding-bottom: 13%;
  }

  button {
    background: #fff;
    border-radius: 0;
    border: 1px solid #000;
    padding: 12px;
    padding-left: 10%;
    padding-right: 10%;

    position: absolute;
    bottom: 4px;
    a {
      text-decoration: none;
      color: black;
      font-size: 1.3em;
      text-transform: uppercase;
    }
  }

  button:hover {
    background: #248a83;
    border: 1px solid #248a83;

    a {
      color: #fff;
    }
  }

  ul {
    display: flex;
    flex-direction: row;
    align-content: center;
    list-style: none;
    li {
      border: 1px solid #a1a1a1;
      flex-direction: column;
      padding: 5px;
      margin-left: 30px;
      position: relative;
    }
  }
}

.home-blog-text {
  display: flex;
  text-align: left;
  flex-direction: column;
  justify-content: space-between;
  button {
  }
}

.about-main {
  line-height: 40px;
  h1 {
    font-size: 3rem;
    color: #fff;
  }
  h2 {
    text-transform: uppercase;
    color: #2f1339;
    font-size: 2rem;
    text-align: center;
  }
  p {
    margin-left: 20%;
    margin-right: 20%;
    text-align: left;
  }
}

.blog {
  .site-content {
    margin-top: 1em;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 1120px;
  }

  header {
    max-height: 600px;
    img {
      width: 55em;
    }
    a {
      text-decoration: none;
      color: #fff;
    }
    h2 {
      position: relative;
      bottom: 560px;
      left: 0;
      padding: 10px;
      background-color: #248a83;
      color: #fff;
      width: 50%;
      font-size: 2.1rem;
    }
    .entry-meta {
      position: relative;
      left: 511px;
      bottom: 240px;
      background-color: #248a83;
      color: #fff;
      width: 40%;
      padding: 6px;
    }
  }
  .entry-content{
    width:90%;
    text-align: left;
    margin-bottom:10px;
    
  }
  button {
    background: #fff;
    border-radius: 0;
    border: 1px solid #000;
    padding: 12px;
    padding-left: 3%;
    padding-right: 3%;
    a {
      text-decoration: none;
      color: black;
      font-size: 1.3em;
      text-transform: uppercase;
    }
  }

  button:hover {
    background: #248a83;
    border: 1px solid #248a83;

    a {
      color: #fff;
    }
  }

}

.main-shop {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1.3rem;
}
