footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background: url(../../images/logos/inhabitent-logo-text.svg) top 50px left 950px no-repeat,
    url(../../images/dark-wood.png) repeat-x;
  color: #fff;
  text-align: left;
  height: 100%;
  padding-bottom: 60px;

  h2 {
    color: #d99054;
  }

  span {
    a:link {
      color: #fff;
      text-decoration: none;
    }
  }

  .contact-info{
    padding:4%;
  }

  .hours{
    padding:4%;
  }

  .copyright{
    text-align: center;
    position: relative;
    top:290px;
  }

}
