/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/

/* Buttons */

button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
  border: 1px solid;
  border-color: $color__green;
  border-radius: 3px;
  background-color: $color__green;
  color: rgba(0, 0, 0, 0.8);
  @include font-size(0.95);
  line-height: 1;
  padding: 0.6rem 1rem 0.4rem;

  &:hover {
    border-color: #205f5b;
    background-color: #205f5b;
    color: #fff;
  }

  &:active,
  &:focus {
    border-color: #205f5b;
    background-color: #205f5b;
    color: #fff;
  }
}

/* Fields */

input[type='text'],
input[type='email'],
input[type='url'],
input[type='password'],
input[type='search'],
textarea {
  color: #666;
  border: 1px solid #ccc;
  border-radius: 3px;

  &:focus {
    color: #111;
  }
}

input[type='text'],
input[type='email'],
input[type='url'],
input[type='password'],
input[type='search'] {
  padding: 3px;
}

textarea {
  padding-left: 3px;
  width: 100%;
}

.search-bar {
  form {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    fieldset {
      border: 0;
      padding: 0;
      padding-bottom: 0.75rem;
      margin: 0;
      .fa-search {
        color: $color__green;
      }
      &:focus {
        outline: none;
      }

      input {
        transition: all 0.5s ease-in;
        display: inline-block;
        width: 0;
        border-color: transparent;
        background-color: transparent;
        text-transform: uppercase;
        &:focus {
          outline: none;
        }
      }
    }
  }
}
.home,
.page-template-about {
  .search-bar {
    fieldset {
      .fa-search {
        color: #fff;
      }
      input {
        color: #fff;
      }
      ::placeholder {
        color: rgba(255, 255, 255, 0.6);
      }
    }
  }
}

.after-select {
  form {
    fieldset {
      input {
        width: 200px;
        &:focus {
          border: 0;
          outline: none;
        }
      }
    }
  }
}
