.logged-in {
  .site-header {
    font-family: $font__other;
    display: flex;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.6);
    color: $color__green;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    top: 32px;
  }
}
.site-header {
  top: 8px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: center;
  width: 100%;
  .logo {
    background: url(../../images/logos/inhabitent-logo-tent.svg) center
      no-repeat;
    background-size: 50px 33px;
    height: 40px;
    width: 50px;
    padding-left: 10%;
  }
  .main-navigation {
    text-transform: uppercase;
    width: 70vw;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    a:link,
    a:visited {
      list-style: none;
      padding-left: 12px;
      color: $color__green;
    }
  }
}

.home,
.page-template-about {
  .site-header {
    font-family: $font__other;
    display: flex;
    position: absolute;
    background-color: transparent;
    color: white;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .logo {
    background: url(../../images/logos/inhabitent-logo-tent-white.svg) center
      no-repeat;
    background-size: 50px 33px;
    height: 40px;
    width: 50px;
    padding-left: 10%;
  }

  .main-navigation {
    font-family: 'Novecento Sans Web', sans-serif;
    text-transform: uppercase;

    a:link,
    a:visited {
      list-style: none;
      padding-left: 12px;
      color: #fff;
    }
  }
}
