/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/

.widget {
  margin: 0 0 $base__space-unit;

  /* Make sure select elements fit in widgets. */
  select {
    max-width: 100%;
  }
}

/* Search widget. */
.widget_search .search-submit {
  display: none;
}


.widget-area{
  border-left:1px solid #a1a1a1;
  text-align:center;
  padding-left: 5%;
    width: 27%;
  h2{
    color: #2f1339;
  }
  a{
    color: #248a83;
    text-decoration: none;
  }
}